<!DOCTYPE html>
<html translate="no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
  />
  <meta name="google" content="notranslate" />
  <meta name="robots" content="noindex, nofollow" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="theme-color" content="#8787e7" />

  <title>ソ瑠璃パス</title>
  <link rel="manifest" href="/manifest.json" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/favicon.png" />
  <link rel="stylesheet" href="/style.css?<%=mtimeCSS%>" />

  <% if (!ENABLE_FIDO2 || IS_SESSION_VALID) { %>
  <div class="list">
    <% list.forEach(function(e){ %>
    <div class="item" data-id="<%= e.id %>">
      <div class="title"><%= e.name %></div>
      <div class="body">
        <div class="otp"><%= e.otp %></div>
        <span class="delete material-icons">delete</span>
      </div>
    </div>
    <% }); %>
  </div>
  <% } %>

  <div class="counter"></div>
  <div class="nav">
    <div class="title">ソ瑠璃パス</div>
    <div>
      <% if (!ENABLE_FIDO2 || IS_SESSION_VALID) { %>
      <span class="scan hidden material-icons">qr_code_scanner</span>
      <span class="add material-icons">add</span>
      <% } %><% if (ENABLE_FIDO2 && IS_SESSION_VALID) { %>
      <a href="/logout" class="logout material-icons">logout</a>
      <% } %><% if (ENABLE_FIDO2 && !IS_SESSION_VALID && ALLOW_REGISTER) { %>
      <span class="register material-icons">person_add</span>
      <% } %><% if (ENABLE_FIDO2 && !IS_SESSION_VALID) { %>
      <span class="login material-icons">login</span>
      <% } %>
    </div>
  </div>

  <div class="scanner hidden">
    <video class="camera" playsinline></video>
    <div class="hud"><span class="close material-icons">close</span></div>
  </div>

  <% if (!ENABLE_FIDO2 || IS_SESSION_VALID) { %>

  <div class="overlay invisible">
    <form method="post" action="/" enctype="application/x-www-form-urlencoded">
      <label>
        Name
        <input name="name" type="text" required />
      </label>
      <label>
        Secret
        <input
          name="otp"
          type="text"
          required
          minlength="16"
          pattern="[a-zA-Z0-9]{16,}"
          placeholder="(remove spaces if any)"
        />
      </label>
      <input type="submit" />
    </form>
    <% } %>
  </div>
  <script src="/index.js?<%=mtimeJS%>" defer></script>
</html>
